*{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: var(--branco);

  margin: 0;
}

header{
    background-color: var(--verde);
    align-items:center;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}


:root{

    --fundo:#191414;
    --verde:#1DB954;
    --branco: white;

}


body{
    background-color: var(--fundo);
}

.texto{
    position: relative;
    background-color: var(--verde);
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    border-radius: 60px;
}

.main{
    display: flex;
    justify-content: space-around;
}

img{
    border-top-left-radius: 120px;
    border-bottom-right-radius: 100px;
    margin: 10px;
}

button{
    background-color: var(--fundo);
    border-radius: 30px;
    width: 130px;
    height: 50px;
    font-size: medium;

}