@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {

    --preto: black;
    --verde: rgba(29, 185, 84, 1);
    --branco: white;

}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: var(--branco);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.container main {
    height: 670px;
}

body {
    background-color: black;
}

.bg {
    background-color: var(--verde);
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.conteudo {
    position: relative;
    height: 80px;
    padding: 5px;
}

#logo {
    padding: 10px;
}

#mulher {
    position: absolute;
    left: 40%;
    top: 60px;
    border-top-left-radius: 800px;
}

.conteudo h1 {
    position: absolute;
    left: 40%;
}

.conteudo p {
    position: absolute;
    left: 33%;
    top: 50px;
}

#logo {
    position: absolute;
    left: 1210px;
}

.login {
    position: absolute;
    left: 130px;
    top: 25%;
    background-color: var(--verde);
    height: 350px;
    width: 250px;
    padding: 40px;
    display: flex;
    justify-content: center, space-evenly;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;

}

.login h1 {
    padding-bottom: 30px;

}

.login button {
    margin-top: 20px;
    border-radius: 80px;
    height: 50px;
    background-color: var(--preto);
    font-size: larger;
    
}

.rodape {
    background-color: var(--verde);
    height: 20px;
    text-align: center;
    padding: 10px;
}